.container {
    display: flex;
    flex-direction: column;

    border: 0.1rem solid var(--border-line-color);

    max-width: 26.8rem;
    max-height: 60.7rem;
}

.image-wrapper {
    position: relative;

    width: 100%;
    height: 100%;

    max-width: 26.8rem;
    max-height: 42.7rem;
}

.image {
    width: 100%;
    height: 100%;

    max-width: 26.8rem;
    max-height: 42.7rem;
}

.favorites-button {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    padding: 1.1rem;

    border-radius: 50%;

    background-color: var(--background-color-favorites-button-inactive);

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.active {
    background: var(--background-color-favorites-button-active);
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1.2rem;

    height: 9.7rem;

    border-bottom: 0.1rem solid var(--border-line-color);
}

.title {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--font-color-primary);
}

.price-wrapper {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;

    color: var(--font-color-primary);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.tag {
    color: var(--tag-font-color);
    background-color: var(--tag-background-color-new);

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;

    padding: 0.3rem 1.2rem 0.1rem 1.2rem;

    border-radius: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.size-wrapper {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: var(--font-color-primary);

    padding: 1.2rem;

    height: 4rem;

    border-bottom: 0.1rem solid var(--border-line-color);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.8rem;
}

.size-wrapper__name {
    color: #4F4F4F;
}

.color-wrapper {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: var(--font-color-primary);

    padding: 1.2rem;

    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.8rem;
}

.color-wrapper span {
    color: #4F4F4F;
}

@media (max-width: 768px) {
    .container {
        max-width: 16.8rem;
        max-height: 50rem;
    }

    .image-wrapper {
        max-width: 16.8rem;
        max-height: 16.8rem;
    }

    .image {
        max-width: 16.6rem;
        max-height: 16.6rem;
    }

    .heading {
        height: 12rem;
    }

    .size-wrapper {
        overflow-x: auto;
        overflow-y: hidden;

        white-space: nowrap;

        scrollbar-gutter: stable both-edges;
    }

    .color-wrapper {
        max-height: 4rem;
    }

    .tag {
        display: none;
    }
}