.container {
    padding: 2rem 4.8rem 0 2.6rem;

    display: flex;
    flex-direction: column;

    padding-bottom: 17.7rem;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 2rem;
}