.container {
    display: grid;
    grid-template-areas:
'header'
'toggles'
'filters'
'content';
    height: 100vh;
    grid-template-columns: 1fr;
    grid-auto-rows: auto auto auto 1fr auto;
    /*grid-template-columns: 227px 1213px;*/
    /*Колонки такие, чтобы на десктопе итоговая ширина была 1440px*/

    /*padding-bottom: 17.6rem;*/
}